:root {
    --primary-color-darker: #aa7eaa;
}
  
body {
    background-color: var(--primary-color-darker);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

h2, p {
    margin: 0;
}

#box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40%;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#botoes {
    flex-direction: row;
}